[submodule "my-portfolio"]
	path = my-portfolio
	url = https://github.com/SaikiranVoladri/my-portfolio
[submodule "Project-1-Netflix-Clone-Website"]
	path = Project-1-Netflix-Clone-Website
	url = https://github.com/SaikiranVoladri/Project-1-Netflix-Clone-Website
[submodule "TemperatureConverter"]
	path = TemperatureConverter
	url = https://github.com/SaikiranVoladri/TemperatureConverter
